<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jara</title>
    <link rel="shortcut icon" href='../public/images/logo.png' type="image/x-icon">
    <style>
        *{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            margin: 0;
        }
        .header{
            width: 100%;
            display: flex;
            justify-content:flex-start;
        }
        .links{
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
        .link{
            text-decoration: none;
            text-align: center;
            padding: 5px;
            margin: 5px;
            width: 5%;
            height: 40px;
            background-color: #007bff;
            color: white;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1 class="title">Hi and hello, welcome</h1>
        <div class="links">
            <a id ="login" class="link" href = "/login" >Login</a>
            <a id ="register" class="link" href = "/register">Register</a>
        </div>
    </div>
    <hr>
    <div class="main">

    </div>
    <div class="footer">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Company</h5>
                    <a class="link-btn-white" href="">About Us</a>
                    <a class="link-btn-white" href="">Contact Us</a>
                    <a class="link-btn-white" href="">Our Services</a>
                    <a class="link-btn-white" href="">Privacy Policy and more</a>
                    <a class="link-btn-white" href="">Terms & Condition</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Quick Links</h5>
                    <a class="link-btn-white" href="">About Us</a>
                    <a class="link-btn-white" href="">Contact Us</a>
                    <a class="link-btn-white" href="">Our Services</a>
                    <a class="link-btn-white" href="">Privacy Policy</a>
                    <a class="link-btn-white" href="">Terms & Condition</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Contact</h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Kisii, Kenya</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+254 726257338</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@jara.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Newsletter</h5>
                    <p>Please subscribe to our newsletter for the best updates around you.</p>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                        <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">Jara</a>, All Rights Reserved. 
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="">Home</a>
                            <a href="">Cookies</a>
                            <a href="">Help</a>
                            <a href="">FQAs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>
    
</body>
</html>