<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jara - Login</title>
    <link rel="stylesheet" href="../public/styles/style.css">
</head>
<body>
    <h1>Login</h1>
    <form id="loginForm" method="post">
        <div class="outputDiv">Welcome Back, please login</div>
        <div id="successDiv"></div>
        <div id="failDiv"></div>


        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </div>
        <button type="submit">Login</button>
        <a href="/register">Don't have an account? Register</a>
    </form>

<script>
    document.getElementById('loginForm').addEventListener('submit', async function(event) {
    event.preventDefault();

    const formData = new FormData(this);
    const email = formData.get('email');
    const password = formData.get('password');
    //const outputScreen = document.getElementById('loginOutput');

    //for outputting the server responses
    const successDiv = document.getElementById('successDiv');
    const failDiv = document.getElementById('failDiv');

    //console.log()

    try {
        const response = await fetch('api/users/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email, password })
        });

        if (response.ok) {
            successDiv.innerHTML='Welcome back';
            const token = await response.json();
            window.location.href = '/home';
            window.history.replaceState({}, document.title, "/home");
        } else {
            //implement a loading system in both ways, incase of success or fail
            const errorData = await response.json();
            //serve the client with an error message, exact error message
            failDiv.innerHTML = errorData.error;
            //console.error('Login failed:', errorData.error);
        }
    } catch (error) {
        console.error('An error occurred:', error);
    }
});
</script>